@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
.logo{
    height: 50px;
    padding: 0 20px;
    margin-left: 70%;
}
.nav-item{
    font-size: 14px;
    font-weight: 500;
    padding: 8px 18px;
}

/* H E A D E R   P A R T */
.carousel {
    position: relative;
}
  
ol.carousel-indicators {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
}
  
ol.carousel-indicators li,
ol.carousel-indicators li.active {
    float: left;
    width: 15px;
    height: 10px;
    margin: 0;
    border-radius: 100px;
    border: 0;
    background: rgb(170, 170, 170);
    margin: 0 10px;
    transition: all .4s linear;
}
ol.carousel-indicators li.active {
    width: 40px;
    background: linear-gradient(to right, #ff5722, #fdd835);
}
ol.carousel-indicators li.odd.active{
    background: linear-gradient(to right, #00BCD4, #2196F3);
}
.carousel-item:nth-child(1), .carousel-item:nth-child(3){
    background: url(images/bg/1.png);
    background-size: cover;
}
.carousel-item:nth-child(2){
    background: url(images/bg/3.png);
    background-size: cover;
}
.carousel-control-prev, .carousel-control-next{
    width: 9vw;
}

.header{
    min-height: calc(100vh - 78px);
}
.flex-even{
    flex: 0 0 50%;
}
.textPart{
    padding: 0 10%;
}
.heading{
    font-size: 35px;
    padding-bottom: 20px;
    animation: moveToRight .8s ease-out .3s;
    animation-fill-mode: backwards;
}
.description{
    font-size: 15px;
    color: #777;
    animation: moveToLeft .8s ease-out .3s;
    animation-fill-mode: backwards;
}
.macBookImg{
    width: 80%;
    margin-left: -5%;
}
.googleHomeImg{
    width: 80%;
    margin-left: 5%;
}
.JBLXtremeImg{
    width: 80%;
    margin-left: -5%;
}

.cbtn:link, .cbtn:visited{
    text-decoration: none;
    width: 160px;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 100px;
    transition: all .2s;
    background-color: #000;
    color: #fff;
    text-align: center;
}
.cbtn:hover{
    text-decoration: none;
    background-color: #000;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
}
.cbtn:active{
    text-decoration: none;
    background-color: #000;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-1px);
}

.cbtn-dark{
    color: #fff;
    background-color: #000;
    border: none;
}
.fa-arrow-right{
    height: 1px;
    width: 10px;
}
.btn-animated{
    animation: moveToTop .4s ease-out .75s;
    animation-fill-mode: backwards;
}


/* P R O D U C T S   P A R T */
.products{
    min-height: 200vh;
}
.pt{
    min-height: 100vh;
    padding: 10.5vh 6vw 0;
}
.pt h2{
    margin-bottom: 0;
}
.pt a{
    padding: 14px 0;
}
.pt-head{
    padding: 0 1.5vw;
}
.see-all, .see-all:hover{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background: linear-gradient(to right, #ff5722, #ffb222);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card{
    transform: scale(0.9, 0.9);
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.1);
    margin-top: -20px;
}
.card-body{
    text-align: center;
    margin: 5vh 0;
    padding-top: 0;
}
.card-img{
    height: 50%;
    width: 80%;
}
.card-title{
    font-size: 1.5rem;
    padding-top: 35px;
}
.card-text{
    font-size: 14px;
    color: #777;
    padding: 20px 12px 0;
}
.card-price{
    font-size: 1.6rem;
    padding-bottom: 30px;
}
.card-btn:link{
    padding: 10px 20px;
    margin-top: 10px;
}

/* C A T E G O R I E S */
.categories{
    min-height: 100vh;
}
.titleSec{
    margin: 50px 0 -30px;
    text-align: center;
}
.downLine{
    width: 80px;
    height: 5px;
    background: linear-gradient(to right, 
                #ff5722, #ffb222);
    border-radius: 10px;
}
.orderbg{
    max-height: 100%;
    max-width: 100%;
}
.cimg{
    padding: 60px 48px;
    margin: 30px;
    box-shadow: 0 1px 5px 5px rgba(0, 0, 0, 0.1);
}
.cp2{
    transform: scale(0.8);
    margin-bottom: -30px;
}
.footer{
    height: 60px;
    background: #000;
    color: #fff;
}
.ft{
    padding-top: 20px;
}
.fl, .fl:hover{
    color: #fff;
    text-decoration: none;
}
.fl:hover{
    color: #ff5722;
}

/* A P P L I E D   A N I M A T I O N S */
.animateLeft{
    animation: moveToLeft 1s ease-out .2s;
    animation-fill-mode: backwards;
}
.animateRight{
    animation: moveToRight 1s ease-out .2s;
    animation-fill-mode: backwards;
}
.animateSkyDropLeft{
    animation: skyDropLeft 1.2s ease-in .2s;
    animation-fill-mode: backwards;
}
.animateSkyDropRight{
    animation: skyDropRight 1.2s ease-in .2s;
    animation-fill-mode: backwards;
}



/* A N I M A T I O N S */
@keyframes moveToTop{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveToLeft{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveToRight{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes skyDropRight{
    0%{
        opacity: 0;
        transform: translate(-60px, -150px);
    }
    70%{
        transform: translate(-40px, 30px);
    }
    85%{
        transform: translate(-20px, -30px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes skyDropLeft{
    0%{
        opacity: 0;
        transform: translate(60px, -150px);
    }
    70%{
        transform: translate(40px, 30px);
    }
    85%{
        transform: translate(20px, -30px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}